<h1>Welcome to Cello</h1>
<p>We're like Trello, but one note better</p>

<ul>
<% @lists.each do |list| %>
<li><%= link_to list.name, list %></li>
<% end %>
</ul>

<%= link_to '<button type="button">Create New List</button>'.html_safe, '/lists/new' %>
