<h2><%= @list.name %></h2>

<ul>
  <% @todos.each do |todo| %>
    <li><%= link_to todo.item, todo %></li>
  <% end %>

</ul>

<%= link_to '<button type="button" class="btn btn-primary btn-sm">Add New To-Do List item</button>'.html_safe, '/todos/new/@list.id' %><br><br>
<%= link_to '<button type="button" class="btn btn-danger btn-sm">Delete List</button>'.html_safe, @list, method: :delete, data: { confirm: 'Are you sure?' } %>
