<h2><%= @todo.item %></h2>


<<<<<<< HEAD
<%= link_to '<button type="button" class="btn btn-success btn-sm">Complete</button>'.html_safe, @todo, method: :delete, data: { confirm: 'Are you sure?' } %>
=======
<%= link_to 'Delete', @todo, method: :delete, data: { confirm: 'Are you sure?' } %>
>>>>>>> bd539a1e5ca5eff850f3d43cf022a5e3b646e727
