<h2><%= @todo.item %></h2>

<%=link_to '<form>
<input type="hidden" name="_method" value="delete">
  <input type="submit" value="Complete" class="btn btn-success btn-xs">
</form>'.html_safe, '/lists' %>

<p>Completed!</p>
